
<!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap">

        <div class="container clearfix">

          <% if Comment.exists?(:user_id => current_user.id) %>
  
                  <h3>You are already registered for #pgtimemachine. What would you like to do now?</h3>
                  <h2><%= link_to "Go to the homepage", root_path %></h2>
                  <h2><%= link_to "Go to my account", current_user %></h2>
                  <h2><a href="http://www.youtuberandomvideo.com/" target="_blank">Watch a random YouTube video<a/></h2>
              <% else %>

          <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">
                
                        <div class="tab-container">

                            <div class="tab-content clearfix" id="tab-login">
                                <div class="panel panel-default nobottommargin">
                                  <div class="panel-body" style="padding: 40px;">

                                    <%= form_for(@comment) do |f| %>
                                      <% if @comment.errors.any? %>
                                        <div id="error_explanation">
                                          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                                          <ul>
                                          <% @comment.errors.full_messages.each do |message| %>
                                            <li><%= message %></li>
                                          <% end %>
                                          </ul>
                                        </div>
                                      <% end %>

                                      <h3>One more quick thing</h3>

                                      <div class="col_full">
                                          <%= f.label :mvp, "Who would you like to nominate for MVP?" %>
                                          <%= f.text_field :mvp, :class => "form-control", :placeholder => "EX: Nate Andorsky (Big Boss)" %>
                                      </div>

                                      <div class="col_full">
                                          <%= f.label :bus, "Will you be participating in the bus transportation?" %>
                                          <%= f.select :bus, options_for_select([["Yes","Yes"],["No","No"]],''), :class => "form-control" %>
                                      </div>

                                      <% if current_user.provider == "facebook" %>
                                      <div class="col_full">
                                          <%= f.label :comment, "Leave a comment for the homepage (optional)" %><br>
                                          <em>This comment will be shown on the homepage along with your Facbeook photo.</em>
                                          <%= f.text_area :comment, :maxlength => 140, :class => "form-control", :placeholder => "so pumped for this! Cannot wait!" %>
                                          <em>Limit of 140 characters.</em>
                                      </div>
                                      <% end %>

                                      <div class="col_full nobottommargin">
                                          <%= f.submit "Complete Registration", :class => "button button-3d button-black nomargin",  data: { disable_with: "Completing..." } %>
                                      </div>

                                  <% end %>
                                  </div>
                                </div>
                            </div>

                        </div>

                    </div>
                  <% end %>
        </div>

      </div>

    </section><!-- #content end -->



