
<!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap">

        <div class="container clearfix">

          <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">
                
                        <div class="tab-container">

                            <div class="tab-content clearfix" id="tab-login">
                                <div class="panel panel-default nobottommargin">
                                  <div class="panel-body" style="padding: 40px;">

                                    <%= form_for(@comment) do |f| %>
                                      <% if @comment.errors.any? %>
                                        <div id="error_explanation">
                                          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                                          <ul>
                                          <% @comment.errors.full_messages.each do |message| %>
                                            <li><%= message %></li>
                                          <% end %>
                                          </ul>
                                        </div>
                                      <% end %>

                                      <h3>Payment for <%= @comment.user.name %></h3>
                                      <h3><%= @comment.payment %></h3>

                                      <div class="col_full">
                                          <%= f.check_box :payment, {:class => "form-contorl"}, "Paid", "Not Paid" %>
                                          <%= f.label :payment, "Paid" %>
                                      </div>

                                      <div class="col_full nobottommargin">
                                          <%= f.submit "Update", :class => "button button-3d button-black nomargin",  data: { disable_with: "Updating..." } %>
                                      </div>

                                  <% end %>
                                  </div>
                                </div>
                            </div>

                        </div>

                    </div>
        </div>

      </div>

    </section><!-- #content end -->



