<p id="notice"><%= notice %></p>

<p>
  <strong>Registration Summary:</strong><br>
  Comment: <%= @comment.comment %><br>
  MVP Nomination: <%= @comment.mvp %><br>
  Bus: <%= @comment.bus %>
</p>
Click below to Pay Kevin Meehan<br>
<a class="venmo-pay-button" data-recipient-id="1168098832941056231" data-amount="52"></a><br>
<%= link_to 'Go Back To Homepage', root_path %> 

