<!-- Page Title
    ============================================= -->
    <section id="page-title">

      <div class="container clearfix">
        <h1>My Account</h1>
      </div>

    </section><!-- #page-title end -->
<%= current_user.id %>

<%= link_to 'Go Back To Homepage', root_path %> 

<%= current_user.name %>
<%= current_user.id %>
<%= current_user.email %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Registration Summary:</strong><br>
  

</p>
Click below to Pay Kevin Meehan<br>


