<!-- Page Title
    ============================================= -->
    <section id="page-title">

      <div class="container clearfix">
        <h1>My Account</h1>
      </div>

    </section><!-- #page-title end -->


 <section id="content">

            <div class="content-wrap">


          <% flash.each do |name, msg| %>
            <div class="container clearfix">
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong><%= content_tag(:div, msg) %></strong> 
                
                <% if @comment.bus == "Yes" %>
                Since you will be riding the bus, to pay via venmo <a href="https://venmo.com/?txn=pay&recipients=Kevin-Meehan-1&amount=25.00&note=PGTM-Bus&" target="_blank">click here</a>.
                <% end %>
              </div>
            </div>
            <% end %>

                <div class="container clearfix">
                  <div class="heading-block title-center nobottomborder">
                    <h2>2015 PG Time Machine Countdown</h2>
                </div>

                  <div id="countdown-ex1" class="countdown countdown-large coming-soon divcenter bottommargin" style="max-width:700px;"></div>

                <script>
                    jQuery(document).ready( function($){
                        var newDate = new Date(2015, 4, 9);
                        $('#countdown-ex1').countdown({until: newDate});
                    });
                </script>


                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin clearfix">
                    	
                    	<div class="table-responsive">

                            <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>Name</td>
                                <td><%= current_user.name %></td>
                              </tr>
                             <tr>
                                <td>Email</td>
                                <td><%= current_user.email %></td>
                              </tr>
                              <tr>
                                <td>MVP Nomiation</td>
                                <td><%= @comment.mvp %></td>
                              </tr>
                              <tr>
                                <td>Bus</td>
                                <td><%= @comment.bus %>
                                    <% if @comment.bus == "Yes" %><br>
                                    <% if @comment.payment == "Not Paid" %>
                                    <br><a class="btn btn-sm btn-danger" href="https://venmo.com/?txn=pay&recipients=Kevin-Meehan-1&amount=25.00&note=PGTM-Bus&" target="_blank" />PAY BY VENMO NOW</a>
                                    <% else %>
                                    <a class="btn btn-sm btn-success">Paid</a>
                                    <% end %>
                                  
                                  
                                  <% end %>

                                </td>
                              </tr>
                          <% if current_user.provider == "facebook" %>    
                              <tr>
                                <td>Comment for the homepage</td>
                                <td><div class="testi-content"><p><%= @comment.comment %></p></div></td>
                              </tr>
                          <% end %>
                            </tbody>
                          </table>
                        

                        </div>

                          </div>


                    </div>

                </div>

            </div>

  </section>

<% if current_user.mvp == 2 %>
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    
                        <h4>Registrations - <%= @registrations.count %></h4>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Date</th>
                              <th>Name</th>
                              <th width="80px;">Email</th>
                              <th>Bus</th>
                              <th width="80px;">Payment</th>
                              <th>MVP</th>
                              <th>Comment</th>

                            </tr>
                          </thead>
                          <tbody>
                          <% @registrations.each do |user| %>
                                  <tr>
                                    <td><%= user.created_at.strftime("%b %d at %l:%M %p") %></td>
                                    <td><%= user.name %></td>
                                    <td><%= user.email %></td>
                                    <td><%= Comment.find_by(:user_id => user).try(:bus) %></td>
                                    <% if Comment.find_by(:user_id => user).try(:bus) == "Yes" %>

                                        <% if Comment.find_by(:user_id => user).try(:payment) == "Paid" %>
                                        <td><label class="label label-success">Yes</label><a href="<%= edit_comment_path(Comment.find_by(:user_id => user)) %>">  <i class="icon-pencil2"></i></a></td>
                                        <% else %>
                                        <td><label class="label label-danger">No</label><a href="<%= edit_comment_path(Comment.find_by(:user_id => user)) %>">  <i class="icon-pencil2"></i></a></td>
                                        <% end %>
                                    
                                    <% else %>
                                    
                                    <td><label class="label label-default">N-A</label></td>
                                    
                                    <% end %>
                                    
                                    <td><%= Comment.find_by(:user_id => user).try(:mvp) %></td>
                                    <td><%= Comment.find_by(:user_id => user).try(:comment) %></td>
                                  </tr>
                            <% end %>
                          </tbody>
                        </table>

                     
                    </div>
                  </div>
          </section>

<% end %>

<section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    
                        <h4>PG Time Machine 2015 Roster</h4>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Name</th>
                            </tr>
                          </thead>
                          <tbody>
                          <% @registrations.each do |user| %>
                                  <tr>
                                    <td><%= user.name %></td>
                                  </tr>
                            <% end %>
                          </tbody>
                        </table>

                     
                    </div>
                  </div>
          </section>
