<h1>Bar Crawl 2015</h1>

<% #if  %>
<%= link_to 'Register for the Bar Crawl', new_comment_path %>
<% #else %>

<% if !Comment.exists?(:user_id => current_user) %>
<%= link_to 'Register for the Bar Crawl', new_comment_path %>
<% else %>
<%= link_to 'Edit Registration for the Bar Crawl', edit_comment_path(current_user) %>
<% end %>

<% #end %>

<table>
  <tbody>
    <% @comments.each do |comment| %>
    <% if !comment.comment.blank? %>
      <tr>
        <td><%= image_tag(comment.user.image)%></td>
        <td><%= comment.user.name %> says</td>
        <td>"<%= comment.comment %>"</td>
        <td>on <%= comment.created_at.strftime("%D") %></td>
        <td>and nominates <%= comment.mvp %> for MVP</td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<h2>MVP Voting</h2>

<table>
  <tbody>
    <% @mvps.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= Vote.where(:mvp_id => user.id).count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>MVP Votin 2g</h2>
<table>
  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.user.name %></td>
        <td><%= vote.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>MVP Votin 2g</h2>
<table>
  <tbody>
    <% #Vote.all.each do |vote| %>
      <% User.where("mvp = 1").each do |user| %>
      <tr>
          <td><%= user.name %></td>
      </tr>
      <% end %>
    <% #end %>
  </tbody>
</table>




<br>

