<!-- Parallax Start -->
   <section id="slider" class="full-screen dark" style="overflow: hidden; background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('<%= asset_path 'parallax/home2.jpg' %>') no-repeat center center ;background-size: cover; ">

            <div class="container clearfix vertical-middle" style="z-index:6;">

                <div class="heading-block title-center nobottomborder" style="padding-top:12%;">
                    <h1 style="font-size:42px; color:white;">2016 PG Time Machine: <br>The Last Waltz</h1>
                </div>

                <div id="countdown-ex1" class="countdown countdown-large coming-soon divcenter bottommargin" style="max-width:700px; color:white;" ></div>

                <script>
                    jQuery(document).ready( function($){
                        var newDate = new Date(2016, 3, 30);
                        $('#countdown-ex1').countdown({until: newDate});
                    });
                </script>

                <div class="center topmargin-lg" style="padding-bottom:12%;">

                    <a href="<%= root_path %>#intro" style="padding-bottom:10px;" class="button button-desc button-3d button-rounded button-green center button-xlarge" >I WANT IN</a>

                </div>

            </div>
    </section>
<!-- Parallax End -->

<!-- Intro Start -->

    <section id="intro">

            <div class="content-wrap" style="padding-bottom:0px; padding-top:0px; background-color: #F9F9F9;">


            <div class="section nomargin notopborder" style="padding-top:0px;">

            <!--<div class="container-fluid center clearfix">
                        
                        <div class="col_one_fourth nobottommargin" data-animate="bounceIn" data-delay="100">
                            
                            <div class="counter counter-large counter-lined"><span data-from="0" data-to="300" data-refresh-interval="1.2" data-speed="200"></span>+</div>
                            <h5>People</h5>
                        </div>

                        <div class="col_one_fourth nobottommargin" data-animate="bounceIn" data-delay="1300">
                            <div class="counter counter-large counter-lined"><span data-from="0" data-to="4" data-refresh-interval="10" data-speed="100"></span></div>
                            <h5>Bars</h5>
                        </div>

                        <div class="col_one_fourth nobottommargin" data-animate="bounceIn" data-delay="2000">
                            <div class="counter counter-large counter-lined"><span data-from="0" data-to="3" data-refresh-interval="10" data-speed="100"></span></div>
                            <h5>Buses</h5>
                        </div>

                        <div class="col_one_fourth nobottommargin col_last" data-animate="bounceIn" data-delay="3000">
                            <div class="counter counter-large counter-lined"><span data-from="0" data-to="1" data-refresh-interval="10" data-speed="100"></span></div>
                            <h5>Day</h5>
                        </div>

            </div>-->

            <div class="container-fluid center clearfix" style="margin-top:100px;">
                <div class="heading-block">
                            <h2>OUR FINAL VOYAGE</h2>
                            <span >

                               For a fifth and final year, the District of Columbia will travel back in time as it plays host to the Post-Grad Time Machine Bar Crawl on Saturday, April 30. For those who have had the pleasure to join us on our past journeys; welcome home. For those joining us for the very first time, prepare yourself for a 4 bar, 2-day voyage by land and by sea, through local DC watering holes, transporting to each location on some of the world finest's transportation.
                               <br><br>
                               The PG Time Machine began as a way for a few George Washington University alums to relive college days in their old college bars. What may have started as a small blackout gathering has grown to nearly 300 degenerates traveling across our nation's capitol in search of degeneracy. Welcome participants not only include GWU alums from DC and around the country, but more importantly - we've been joined by our friends, family, coworkers, and random acquaintances outside of the GW family.
                            
                            </span>
                            <div class="clear"></div>
                        </div>
            </div>
        </div>
     </div>
</section>

<!-- Intro End -->


<!-- Schedule Start -->

    <section id="schedule">
        <div class="section nomargin noborder bgcolor dark" style="padding-bottom:0px; background-color: #558C89!important;">
            <div class="container clearfix">
                <div class="content-wrap" style="padding-top:10px; ">
                    <div class="divider divider-short divider-center"><i class="icon-circle-blank"></i></div>
                        <div class="heading-block center">
                            <h2>Schedule</h2>
                            <span>It's not a marathon; its not a sprint; its a sprinting marathon. Prepare.</span>
                        </div>

                        <div id="posts" class="events small-thumbs" >

                              <div class="entry clearfix">
                                <div class="entry-image hidden-sm">
                                    <a href="#">
                                        <%= image_tag("others/dunya.jpg") %>
                                        
                                    </a>
                                </div>
                                <div class="entry-c">
                                    <div class="entry-title">
                                        <h2>Dunya</h2>
                                    </div>
                                    <ul class="entry-meta clearfix">
                                        <li style="color:white;"><i class="icon-time"></i>Friday, April 29th at 10:00 PM</li>
                                        <li style="color:white;"><i class="icon-map-marker2"></i> 801 Florida Ave NW, Washington, DC 20006</li>
                                        <!--<li style="color:white;"><i class="icon-beer"></i> $14 Bud Lite Pitchers, $5 Fireball</li>-->
                                    </ul>
                                    <div class="entry-content">
                                        <p>The appetizer to the delicious Saturday entree - Join us on Friday night on the Dunya rooftop right in the heart of U Street. If you were here last year, you remember how awesome this was. Awesome rooftop, epic location - great place to spend your entire Friday or swing by to say hello before you pivot to Shadow Room or George’s Falafel at 2am.</p>
                                        <p>Riding the USS Degenerate? Pick up your wrist band Friday night at Dunya so you can focus Saturday on more important things.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="entry clearfix">
                                <div class="entry-image hidden-sm">
                                    <a href="#">
                                        <%= image_tag("others/uss_degen.jpg") %>
                                        
                                    </a>
                                </div>
                                <div class="entry-c">
                                    <div class="entry-title">
                                        <h2>The USS Degenerate<br>(Sold Out)</h2>
                                    </div>
                                    <ul class="entry-meta clearfix">
                                        <li style="color:white;"><i class="icon-calendar"></i>Saturday, April 30th 2016</li>
                                        <li style="color:white;"><i class="icon-map-marker2"></i> 3100 K Street NW, Washington, DC 20007</li>
                                        <!--<li style="color:white;"><i class="icon-beer"></i> $14 Bud Lite Pitchers, $5 Fireball</li>-->
                                    </ul>
                                    <div class="entry-content">
                                    <ul class="entry-meta clearfix">
                                        <li style="color:white;"><i class="icon-time"></i>3:00 PM - 3:30 PM - Pick Up Wristband</li>  
                                    </ul>
                                    </div>
                                    <div class="entry-content">
                                     <ul class="entry-meta clearfix">                                      
                                        <li style="color:white;"><i class="icon-time"></i>3:15 PM - 3:30 PM - Boarding</li>
                                    </ul>
                                    </div>
                                    <div class="entry-content">
                                        <ul class="entry-meta clearfix">                                      
                                        <li style="color:white;"><i class="icon-time"></i>3:30 PM - 3:31 PM - Ship  Departs</li>
                                        </ul>
                                    </div>
                                    <div class="entry-content">
                                        <p>You people are animals. We sold out the 143 person boat 2 months before the bar crawl. Our journey begins here. For the die-hards, the veterans and the bold, we begin Saturday's activities on the Potomac aboard the USS Degenerate which will be equipped with a full open bar. If this is our last PGTM, we're going to go all out. BOAT LEAVES AT 3:30PM WITH OR WITHOUT YOU, RAIN OR SHINE.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="entry clearfix">
                                <div class="entry-image hidden-sm">
                                    <a href="#">
                                        <%= image_tag("others/nicks.jpeg") %>
                                        
                                    </a>
                                </div>
                                <div class="entry-c">
                                    <div class="entry-title">
                                        <h2>The Waterfront</h2>
                                    </div>
                                    <ul class="entry-meta clearfix">
                                        <li style="color:white;"><i class="icon-time"></i>Saturday at 5:30 PM</li>
                                         <li style="color:white;"><i class="icon-map-marker2"></i>3050 K St NW, Washington, DC 20007</li>
                                        <!--<li><a href="#"><i class="icon-beer"></i> $14 Bud Lite Pitchers, $5 Fireball</a></li>-->
                                    </ul>
                                    <div class="entry-content">
                                        <p>Did you miss out on the boat? The good news is you still have 8 more hours of PG Time Machine. As you can imagine, reserving a waterfront restaurant is basically impossible and expensive, but as we’ve done over the last 4 years, we will invade Nick’s Riverside/Tony and Joe's like the warriors we all are. This is the location of Poto's Great Child Rescue, The Mysterious Towel Dispenser Destruction, and many other terrible things. We will stay until dusk, and then the intensity rises.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="entry clearfix">
                                <div class="entry-image hidden-sm">
                                    <a href="#">
                                        <%= image_tag("others/thurston.jpg") %>
                                        
                                    </a>
                                </div>
                                <div class="entry-c">
                                    <div class="entry-title">
                                        <h2>Potential Mystery Location</h2>
                                    </div>
                                    <ul class="entry-meta clearfix">
                                         <li style="color:white;"><i class="icon-time"></i>Saturday at 7:45 PM</li>
                                        <li style="color:white;"><i class="icon-map-marker2"></i>???</li>
                                        <!--<li><a href="#"><i class="icon-beer"></i> $14 Bud Lite Pitchers, $5 Fireball</a></li>-->
                                    </ul>
                                    <div class="entry-content">
                                        <p>We're still in the works to lock down a mystery location that will be announced a day or two before the big day. Stay tuned.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="entry clearfix">
                                <div class="entry-image hidden-sm">
                                    <a href="#">
                                        <%= image_tag("others/southern_hosp.jpg") %>
                                        
                                    </a>
                                </div>
                                <div class="entry-c">
                                    <div class="entry-title">
                                        <h2>The Mill (Southern Hospitality)</h2>
                                    </div>
                                    <ul class="entry-meta clearfix">
                                        <li style="color:white;"><i class="icon-time"></i> 9:30 PM</li>
                                        <li style="color:white;"><i class="icon-map-marker2"></i>1815 Adams Mill Rd NW, Washington, DC 20009</li>
                                        <li style="color:white;"><i class="icon-beer"></i> $4 Bud Lights, $5 Jameson Shots</li>
                                    </ul>
                                    <div class="entry-content">
                                        <p>The Main Event - While 4 bars in 13 hours seems ambitious, we are one bold group of degenerates. If there was any reason to "pace yourself," the dance floor of Southern Hospitality is it. While bow tied legend Keith has moved on to greener pastures, the fine people of SoHo have hooked us up. I think its still against the rules to climb on things, but as a wise man once said, Do you. This is it - the time when you truly feel like you've traveled back in time. Rage, pivot to McDonalds or jumbo slice, and call it a night. God Bless.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                </div>
            </div>
        </div>

    </section>

<!-- Schedule End -->


<!-- Social Start -->
<section id="social" style="margin:0px;">

        <div class="section" style="background-color:white;">
            <div class="container clearfix" style="margin-bottom:80px;" >

                    <div class="toggle">
                           <div class="togglet"><!--<i class="toggle-closed icon-ok-circle"></i><i class="toggle-open icon-remove-circle"></i>--><h3 class="center">A FEW OF THE <%= @users.count %> PEOPLE ATTENDING</h3></div>
                            
                            <div class="toggle">
                                 <div class="row">
                                    <% @users.each do |user| %>
                                        <% if user.provider == "facebook" %>
                                            <div class="col-sm-2" style="text-align:center; min-height:160px;">
                                              <img class="img-circle" src="<%= user.image %>" alt="Generic placeholder image" width="80" height="80">
                                              <p><%= user.name %></p>
                                            </div>
                                         <% end %>
                                    <% end %>
                                </div>

                            </div>
                        </div>
                    

                <div class="container clearfix">
                    <div id="oc-testi" class="owl-carousel testimonials-carousel">

                        <% @comments.each do |comment| %>
                        <% if !comment.comment.blank? %>
                            <% #if !comment.comment.blank? %>
                                <div class="oc-item">
                                    <div class="testimonial">
                                        <div class="testi-image">
                                            <%= image_tag(comment.user.image)%>
                                        </div>
                                        <div class="testi-content">
                                            <p><%= comment.comment %></p>
                                            <div class="testi-meta">
                                                <span style="font-size:12px;"><%= comment.user.name %><br><%= comment.created_at.strftime("%b %d at %l:%M %p") %></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             <% end %>
                        <% end %>

                    </div>

                    <script type="text/javascript">

                        jQuery(document).ready(function($) {

                            var ocTesti = $("#oc-testi");

                            ocTesti.owlCarousel({
                                margin: 10,
                                autoplay: true,
                                loop: true,
                                nav: true,
                                autoplayHoverPause: false,
                                navText: ['<i class="icon-angle-left"></i>','<i class="icon-angle-right"></i>'],
                                dots: true,
                                responsive:{
                                    0:{ items:1 },
                                    768:{ items:1 },
                                    992:{ items:2 }
                                }
                            });

                        });

                    </script>

                </div>

            </div>
</section>

<!-- Social End -->

<!-- MVP START -->

    <section id="mvp" >
        <div class="section" style="margin:0px; background-color:#DFE2DB!important;">
                <div class="container clearfix">

                    <div class="clear"></div>

                    <div class="divider divider-short divider-center"><i class="icon-circle-blank"></i></div>

                    <div class="heading-block center">
                        <h2>PAST MVPS</h2>
                        <span></span>
                    </div>

                    <div class="col_one_fifth nobottommargin">

                        <div class="team">
                            <div class="team-image">
                                <%= image_tag("others/nobody.jpg", :width => "220px") %>
                            </div>
                            <div class="team-desc">
                                <div class="team-title"><h4>NOBODY</h4><span>2015</span></div>
                                <div class="team-content">You all were equally above average. Congratulations.</div>
                            </div>
                        </div>

                    </div>

                    <div class="col_one_fifth nobottommargin">

                        <div class="team">
                            <div class="team-image">
                                <%= image_tag("others/celone.jpg") %>
                            </div>
                            <div class="team-desc">
                                <div class="team-title"><h4>Michael Celone</h4><span>2014</span></div>
                                <div class="team-content">Becoming a champion is about peaking at the right time. While his arms were flailing from afternoon to dusk, when the sun set, Celone rose to the mountain top. Literally - the lasting image of the 2014 #PGTimeMachine was young Miguel rising from the masses on the Mill dance floor, shirtless, like a young Khalessi.</div>
                            </div>
                        </div>

                    </div>

                    <div class="col_one_fifth nobottommargin">

                        <div class="team">
                            <div class="team-image">
                                <%= image_tag("others/nate.jpg") %>
                            </div>
                            <div class="team-desc">
                                <div class="team-title"><h4>Nate Andorsky</h4><span>2013</span></div>
                                <div class="team-content">No one ever asks to be a hero, but sometimes it just turns out that way. When Nate stepped aboard a crowded school bus and discovered no radio or sound system, he did not fret - he led. From his leadership with the singing on the bus, to ambitious travels throughout the day; by the countless of emails I received in his support as well as the endless amounts of Nate chants from 2pm to 2am, Nate was the clear MVP.</div>
                            </div>
                        </div>

                    </div>

                    <div class="col_one_fifth nobottommargin">

                        <div class="team">
                            <div class="team-image">
                                <%= image_tag("others/hall.jpg") %>
                            </div>
                            <div class="team-desc">
                                <div class="team-title"><h4>Kevin Hall</h4><span>2012</span></div>
                                <div class="team-content">In the days of the 5 stop bar crawl, Hall was one of two people to make it to all stops, as well as a few pit stops including GW Deli, George's Falafel, and so on. After an Epic Saturday, Hall had brunch at the Guards, and played a par 3, 9-hole course with no shoes and just an 8 iron – and won.</div>
                            </div>
                        </div>

                    </div>

                    <div class="col_one_fifth nobottommargin col_last">

                        <div class="team">
                            <div class="team-image">
                                <%= image_tag("others/poto.jpg") %>
                            </div>
                            <div class="team-desc">
                                <div class="team-title"><h4>Poto</h4><span>2012</span></div>
                                <div class="team-content">While Poto only made it to a few of the stops on the inaugural 2012 Bar Crawl, his actions in that time were truly heroic. As folks left the Waterfront, Michael saw a small child fall into the fountain, and with his cellphone in his pocket and without any hesitation, Michael dove into the fountain and saved said small child. A True American Hero.</div>
                            </div>
                        </div>

                    </div>

                    <div class="clear"></div>

                </div>
            </div>
        </section>
   <!-- MVP END -->

 

<!-- Register Start -->
<% if !user_signed_in? %>
    <section id="register">
        <div class="section nomargin noborder bgcolor dark" style="padding: 20px 0px; background-color:#74AFAD!important;">
            <div class="container clearfix">
                <div class="content-wrap" style="padding-top:10px;">
                    <div class="heading-block center">
                            <h2 style="margin-top:100px;">Register</h2>
                            <span>Click below to register</span>
                            <%= link_to "Register Now", new_user_registration_path, :class => "button button-desc button-3d button-rounded button-green center" %>
                            
                        </div>


                </div>
            </div>
        </div>
    </section>
<% end %>


<!-- Register End -->

<!-- Social Start -->
<section id="#" style="margin:0px;">
            <!-- Instagram Feed Start -->
                            <div class="section nobottommargin" style="margin:0px;">
                                <div class="container clearfix">
                                    <div class="heading-block center nobottommargin nobottomborder">
                                        <h3>Check out the gram</h3>
                                        <span>Use #pgtimemachine to have your photos show up</span>
                                    </div>
                                </div>
                            </div>

                            <section id="content">
                                <div class="instagram-photos masonry-thumbs col-6" data-tag="pgtimemachine" data-count="18" data-type="tag" ></div>
                            </section>
             <!-- Instragram Feed End -->
</section>

<!-- Social End -->



