<section id="slider" class="slider-parallax full-screen dark" style="overflow: hidden; background: url('/assets/events/parallax/home.jpg') no-repeat center center;background-size: cover;">

            <div class="container clearfix vertical-middle" style="z-index: 3;">

                <div class="heading-block title-center nobottomborder">
                    <h1>The Apple WWDC Event starts in:</h1>
                </div>

                <div id="countdown-ex1" class="countdown countdown-large coming-soon divcenter bottommargin" style="max-width:700px;"></div>

                <script>
                    jQuery(document).ready( function($){
                        var newDate = new Date(2015, 5, 09);
                        $('#countdown-ex1').countdown({until: newDate});
                    });
                </script>

                <div class="center topmargin-lg">

                    <a href="#" class="button button-3d button-purple button-rounded button-xlarge">Buy Tickets</a>
                    <span class="hidden-xs"> - OR - </span>
                    <a href="#" class="button button-3d button-white button-light button-rounded button-xlarge">Read Details</a>

                </div>

            </div>

        </section>
<!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="section parallax nomargin notopborder" style="background: url('images/parallax/3.jpg') center center; padding: 100px 0;" data-stellar-background-ratio="0.3">
                    <div class="container-fluid center clearfix">

                        <div class="heading-block">
                            <h2>Section with Light Parallax Background</h2>
                            <span>Show off Different Elements with a Different Touch.</span>
                            <div class="clear"></div>
                        </div>

                        <div class="col_one_fifth nobottommargin" data-animate="bounceIn">
                            <div class="counter counter-large counter-lined"><span data-from="100" data-to="345" data-refresh-interval="20" data-speed="2000"></span></div>
                            <h5>Annual Bar Crawl</h5>
                        </div>

                        <div class="col_one_fifth nobottommargin" data-animate="bounceIn" data-delay="200">
                            <div class="counter counter-large counter-lined"><span data-from="10" data-to="116" data-refresh-interval="10" data-speed="2000"></span></div>
                            <h5>Buses</h5>
                        </div>

                        <div class="col_one_fifth nobottommargin" data-animate="bounceIn" data-delay="400">
                            <div class="counter counter-large counter-lined"><span data-from="2" data-to="178" data-refresh-interval="13" data-speed="3000"></span></div>
                            <h5>Bars</h5>
                        </div>

                        <div class="col_one_fifth nobottommargin" data-animate="bounceIn" data-delay="600">
                            <div class="counter counter-large counter-lined"><span data-from="50" data-to="1523" data-refresh-interval="25" data-speed="2500"></span></div>
                            <h5>Papers Trashed</h5>
                        </div>

                        <div class="col_one_fifth nobottommargin col_last" data-animate="bounceIn" data-delay="800">
                            <div class="counter counter-large counter-lined"><span data-from="50" data-to="469" data-refresh-interval="30" data-speed="2700"></span></div>
                            <h5>Cups of Coffee</h5>
                        </div>

                    </div>
                </div>


                <div class="container clearfix">

                    <div class="clear"></div>

                    <div class="divider divider-short divider-center"><i class="icon-circle-blank"></i></div>

                    <div class="heading-block center">
                        <h2>PAST MVPS</h2>
                        <span>Things here about big bosses.</span>
                    </div>

                    <div class="col_one_fourth nobottommargin">

                        <div class="team">
                            <div class="team-image">
                                <%= image_tag("team/3.jpg") %>
                            </div>
                            <div class="team-desc">
                                <div class="team-title"><h4>Michael Celone</h4><span>2015 MVP</span></div>
                                <div class="team-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat assumenda similique unde mollitia eum rerum at voluptatibus saepe totam possimus.</div>
                            </div>
                        </div>

                    </div>

                    <div class="col_one_fourth nobottommargin">

                        <div class="team">
                            <div class="team-image">
                                <%= image_tag("team/2.jpg") %>
                            </div>
                            <div class="team-desc">
                                <div class="team-title"><h4>Nate Andorsky</h4><span>2014 MVP</span></div>
                                <div class="team-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat assumenda similique unde mollitia eum rerum at voluptatibus saepe totam possimus.</div>
                            </div>
                        </div>

                    </div>

                    <div class="col_one_fourth nobottommargin">

                        <div class="team">
                            <div class="team-image">
                                <%= image_tag("team/2.jpg") %>
                            </div>
                            <div class="team-desc">
                                <div class="team-title"><h4>Kevin Hall</h4><span>2013 MVP</span></div>
                                <div class="team-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat assumenda similique unde mollitia eum rerum at voluptatibus saepe totam possimus.</div>
                            </div>
                        </div>

                    </div>

                    <div class="col_one_fourth nobottommargin col_last">

                        <div class="team">
                            <div class="team-image">
                                <%= image_tag("team/8.jpg") %>
                            </div>
                            <div class="team-desc">
                                <div class="team-title"><h4>Poto</h4><span>2012 MVP</span></div>
                                <div class="team-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat assumenda similique unde mollitia eum rerum at voluptatibus saepe totam possimus.</div>
                            </div>
                        </div>

                    </div>

                    <div class="clear"></div>
                   

                </div>

            <!-- Instagram Feed -->

                 <div class="section nobottommargin">
                    <div class="container clearfix">
                        <div class="heading-block center nobottommargin nobottomborder">
                            <h3>Instagram Photos</h3>
                            <span>Use #pgtimemachine to see your photos display here.</span>
                        </div>
                    </div>
                </div>

                <div class="instagram-photos masonry-thumbs col-6 bottommargin-lg" data-user="nandorsky" data-count="18" data-type="user"></div>

                <div class="section nobottommargin">
                    <div class="container clearfix">

                        <div class="heading-block center">
                            <h3>Receive <span>regular</span> Event Updates</h3>
                        </div>

                        <div id="widget-subscribe-form2-result" data-notify-type="success" data-notify-msg=""></div>
                        <form id="widget-subscribe-form2" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                            <div class="input-group input-group-lg divcenter" style="max-width:600px;">
                                <span class="input-group-addon"><i class="icon-email2"></i></span>
                                <input type="email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Subscribe Now</button>
                                </span>
                            </div>
                        </form>

                        <script>
                            $("#widget-subscribe-form2").validate({
                                submitHandler: function(form) {
                                    $(form).find('.input-group-addon').find('.icon-email2').removeClass('icon-email2').addClass('icon-line-loader icon-spin');
                                    $(form).ajaxSubmit({
                                        target: '#widget-subscribe-form2-result',
                                        success: function() {
                                            $(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
                                            $('#widget-subscribe-form2').find('.form-control').val('');
                                            $('#widget-subscribe-form2-result').attr('data-notify-msg', $('#widget-subscribe-form2-result').html()).html('');
                                            SEMICOLON.widget.notifications($('#widget-subscribe-form2-result'));
                                        }
                                    });
                                }
                            });
                        </script>

                    </div>
                </div>

                <div class="container clearfix">

                    <div class="clear"></div>
                    <h2 class="uppercase center"><span>Whos Coming</span></h4>

                    <div id="oc-clients-full" class="owl-carousel owl-carousel-full image-carousel bottommargin-sm">

                        <div class="oc-item">
                          <%= image_tag ("clients/1.png") %>
                        </div>

                        <div class="oc-item">
                         <%= image_tag ("clients/1.png") %>
                        </div>

                        <div class="oc-item">
                         <%= image_tag ("clients/1.png") %>
                        </div>

                    </div>

                    <script type="text/javascript">

                        jQuery(document).ready(function($) {

                            var ocClients = $("#oc-clients-full");

                            ocClients.owlCarousel({
                                margin: 30,
                                loop: true,
                                nav: false,
                                autoplay: true,
                                dots: false,
                                autoplayHoverPause: true,
                                responsive:{
                                    0:{ items:2 },
                                    480:{ items:3 },
                                    768:{ items:4 },
                                    992:{ items:5 },
                                    1200:{ items:6 }
                                }
                            });

                        });

                    </script>

                </div>

                <div class="section footer-stick notopmargin">

                    <h2 class="uppercase center"><span>Comments</span></h4>

                    <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
                        <div class="flexslider">
                            <div class="slider-wrap">
   
    
                             <% @comments.each do |comment| %>
                              <% #if !comment.comment.blank? %>

                                <div class="slide">
                                    <div class="testi-image">
                                      <%= image_tag(comment.user.image)%>
                                    </div>
                                    <div class="testi-content">
                                        <p><%= comment.comment %></p>
                                        <div class="testi-meta">
                                            <%= comment.user.name %>
                                            <span><%= comment.created_at.strftime("%D") %></span>
                                        </div>
                                    </div>
                                </div>

                              <% #end %>
                              <% end %>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section><!-- #content end -->

<table>
  <tbody>
    <% @mvps.each do |mvp| %>
      <tr>
        <td><%= mvp.name %></td>
        <td><%= Vote.where(:mvp_id => mvp).sum(:vote) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

