<h1>Bar Crawl 2015</h1>

<% #if  %>
<%= link_to 'Register for the Bar Crawl', new_comment_path %>
<% #else %>

<% if !Comment.exists?(:user_id => current_user) %>
<%= link_to 'Register for the Bar Crawl', new_comment_path %>
<% else %>
<%= link_to 'Edit Registration for the Bar Crawl', edit_comment_path(current_user) %>
<% end %>

<% #end %>

<table>
  <tbody>
    <% @comments.each do |comment| %>
    <% if !comment.comment.blank? %>
      <tr>
        <td><%= image_tag(comment.user.image)%></td>
        <td><%= comment.user.name %> says</td>
        <td>"<%= comment.comment %>"</td>
        <td>on <%= comment.created_at.strftime("%D") %></td>
        <td>and nominates <%= comment.mvp %> for MVP</td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

