<!-- Page Title
    ============================================= -->
    <section id="page-title">

      <div class="container clearfix">
        <h1>Log In</h1>
      </div>

    </section><!-- #page-title end -->

<!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap">

        <div class="container clearfix">


            <div class="panel panel-default divcenter noradius" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
                            <div class="panel-body" style="padding: 40px;">

                                  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class=> 'nobottommargin' }) do |f| %>
                                    <h3>Login to your Account</h3>

                                    <div class="col_full">
                                        <%= f.label :email %>
                                        <%= f.email_field :email, autofocus: true, :class => "form-control not-dark" %>
                                    </div>

                                    <div class="col_full">
                                        <%= f.label :password %>
                                        <%= f.password_field :password, autocomplete: "off", :class => "form-control not-dark" %>
                                    </div>

                                    <div class="col_full nobottommargin">
                                        <%= f.submit "Log in", :class => "button button-3d button-black nomargin" %>
                                        <a href="#" class="fright">Forgot Password?</a>
                                    </div>
                                <% end %>

                                <div class="line line-sm"></div>

                                <div class="center">
                                    <h4 style="margin-bottom: 15px;">or Login with:</h4>
                                    <%= link_to "Facebook", user_omniauth_authorize_path(:facebook), :class => "button button-rounded si-facebook si-colored", data: { disable_with: "Logging in..." } %>
                                </div>
                            </div>
                        </div>

            </div>

          </div>


    </section><!-- #content end -->
