<!DOCTYPE html>
<html>
<head>
  <title>PG Time Machine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> 
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body class="stretched no-transition">
	<!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

		<%= render 'layouts/header' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
	
	<!-- Footer Scripts
    ============================================= -->

    <!-- Instagram Feed -->
      <script type="text/javascript">
        var feed = new Instafeed({
            get: 'tagged',
            tagName: 'pgtimemachine',
            clientId: '1339ca1a513444938b518b0d96b06be0',
            sortBy: 'most-recent',
            resolution: 'low_resolution',
            limit: '50',
            template: '<div id="instafeed-pic"><a target="_blank" href="{{link}}"><img src="{{image}}" /><p>{{caption}}</p></a></div>'
        });
        feed.run();
      </script>

</body>
</html>


